.App {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgba(138, 138, 138, 0.747);
}

::-webkit-scrollbar-thumb:hover {
  background: #484848;
}
::-moz-selection {
  color: rgb(98, 98, 98);
  background: rgb(252, 252, 252);
}

::selection {
  color: rgb(98, 98, 98);
  background: rgb(252, 252, 252);
}
