* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Home {
  padding-top: 150px;
  /* height: 100vh; */
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 1800px;
}
.hero {
  padding: 10px;
  padding-left: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero--title {
  font-size: 55px;
  font-weight: 600;
}
.hero--desc {
  padding-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  color: #ffffff;
}
.hero--buttons {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.hero--btn {
  background-color: #fff;
  padding: 12px 40px;
  border-radius: 5px;
  font-size: 19px;
  border: 1px solid #fff;
  transition: 0.2s ease;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #000;
  color: #ffffff;
}
.hero--btn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.btn2 {
  background-color: transparent;
  max-width: 230px;
}
.btn2 a {
  color: #fff;
}
.btn2:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.btn2:hover a {
  color: #000;
}
.hero--stats {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}
.stat {
  border-right: 2px solid #fff;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.stat:first-child {
  padding-left: 0px;
}
.stat:last-child {
  border-right: none;
}
.stat--number {
  font-size: 30px;
}
.stat--name {
  color: rgba(255, 255, 255, 0.7);
}

/* ellipses and rectangles */
.ellipse1 {
  position: absolute;
  width: 262px;
  height: 262px;
  left: -188px;
  top: 41px;
  z-index: 99;
  background: #ffffff;
  filter: blur(200px);
}
.ellipse3 {
  position: absolute;
  width: 262px;
  height: 262px;
  left: 1000px;
  top: 332px;
  z-index: 99;
  background: #ffffff;
  filter: blur(100px);
}
.ellipse4 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 780px;
  top: 343px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.62);
  border-radius: 50%;
}
.ellipse5 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 862px;
  top: 517px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.62);
  border-radius: 50%;
}
.ellipse6 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 744px;
  top: 151px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.62);
}
.ellipse7 {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 518px;
  top: 567px;

  background: rgba(255, 255, 255, 0.62);
  filter: blur(4px);
}
.ellipse8 {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 959px;
  top: 214px;

  background: rgba(255, 255, 255, 0.62);
  filter: blur(4px);
}
.rectangle2 {
  box-sizing: border-box;

  position: absolute;
  width: 301px;
  height: 436px;
  left: 1080px;
  top: 202px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 11px;
}
.rectangle3 {
  box-sizing: border-box;

  position: absolute;
  width: 301px;
  height: 436px;
  left: 1087px;
  top: 194px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 11px;
}
.hero {
  padding-left: 100px;
  z-index: 10;
}
.rightsection {
  width: 54%;
  position: relative;
}
.rectangle7 {
  position: absolute;
  width: 298px;
  height: 84px;
  right: 60px;
  top: 420px;
  background: linear-gradient(
    91.03deg,
    rgba(255, 254, 254, 0.23) -47.11%,
    rgba(255, 254, 254, 0.23) 110.32%
  );
  backdrop-filter: blur(30px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.logo3d {
  width: 953px;
  height: 953px;
  margin-top: -200px;
  margin-left: -200px;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .Home {
    padding: 0;
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 10px;
    overflow-x: hidden;
    width: 100vw;
  }
  .hero {
    z-index: 10;
    padding: 25px;
    padding-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
  }
  .hero--title {
    font-size: 45px;
    font-weight: 600;
  }
  .hero--desc {
    padding: 10px 10px 10px 0px;
  }
  .hero--btn {
    padding: 6px 20px;
    font-size: 14px;
  }
  .hero--btn a {
    font-weight: normal;
  }
  .stat--number {
    font-size: 20px;
  }
  .stat--name {
    padding-top: 8px;
    font-size: 15px;
  }
  .rightsection {
    width: 100vw;
    overflow-x: hidden;
  }
  .logo3d {
    height: 600px;
    width: 600px;
    margin-top: 0;
    margin-left: -100px;
  }
  .rectangle7 {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
