.Morals {
  padding: 20px 260px;
  gap: 20px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../assets/horses.png);
  background-size: cover;
  background-position: -80%;
}

.Morals--title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #fffefe;
}
.morals {
  width: 1200px;
  margin-top: 139px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.moral {
  width: 310px;
  height: 300px;
  padding: 30px;
  border: 3px solid #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: 0.4s ease;
}
.moral:hover {
  background-color: rgba(0, 0, 0, 0.658);
}
.moral--title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.moral2 .moral--title {
  margin-bottom: 41px;
}
.moral--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.Morals--btn {
  width: 292px;
  height: 84px;

  background: linear-gradient(
    91.03deg,
    rgba(255, 254, 254, 0.23) -47.11%,
    rgba(255, 254, 254, 0.23) 110.32%
  );
  backdrop-filter: blur(30px);
  border-radius: 25px;
  border: none;
  transform: translateY(55px);
}
.Morals--btn a {
  width: 135px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  text-align: center;
  color: #cfcfcf;
  transition: 0.3s ease;
}
.Morals--btn a:hover {
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 600px) {
  .morals {
    width: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .Morals--btn {
    width: 200px;
    height: 60px;
    transform: translateY(0px);
  }
  .Morals--btn a {
    font-size: 14px;
  }
}
