.Section4 {
  padding-bottom: 200px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 1450px;
  max-width: 1800px;
  position: relative;
}
.textleft {
  z-index: 10;
  margin-left: 30px;
}
.textleft h2 {
  margin-top: 10px;
  width: 436px;
  height: 128px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #fffefe;
}
p.section4--rewards {
  width: 600px;
  height: 72px;

  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  color: #ffffff;
}
.readmore {
  position: relative;
  width: 50%;
  z-index: 10;
}
.rectangle23 {
  box-sizing: border-box;
  position: absolute;
  width: 270px;
  height: 181px;
  left: 320px;
  top: 180px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.rectangle24 {
  box-sizing: border-box;
  position: absolute;
  width: 270px;
  height: 181px;
  left: 300px;
  top: 200px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rectangle24 a {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 141.69%;
  text-align: center;
  color: #e4e4e4;
  text-decoration: none;
  transition: 0.3s ease;
}
.rectangle24 a:hover {
  color: #ffffff;
  font-weight: 600px;
}
.section4--bg--container {
  position: absolute;
  width: 1330px;
  height: 700px;
  z-index: 2;
  position: absolute;
  overflow: hidden;
}
.section4--bg {
  height: 80%;
  width: 80%;
  margin-left: 210px;
}
